<!DOCTYPE html>
<html>
  <head>
    <title>Blog</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

  <body>
    <div class="container">
      <div class="head">
        <h1>Read</h1>
        <p>It does not matter just Read</p>
      </div>

      <div>
        <ul class="nav">
          <li><a href="<%= root_path %>">Home</a></li>
          <li><%= link_to "New Article", new_article_path %></li>
          <li><a href="">About</a></li>
        </ul>
      </div>
    </div>
    <%= yield %>
  </body>
</html>
